/.DS_Store
/.vscode
/?A?B.cpp
/HW
/HW.dSYM
/carry
/carry.cpp
/carry.dSYM
/change_money.cpp
/emirp
/emirp.cpp
/emirp.dSYM
/hello
/hello.dSYM
/hw1
/hw1.cpp
/hw1.dSYM
/hw2
/hw2.cpp
/hw2.dSYM
/int
/int.cpp
/int.dSYM
/judge_triangle.cpp
/new
/new.dSYM
/test
/test.cpp
/test.dSYM